<?xml version="1.0" encoding="UTF-8"?>

<beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans">


<!-- configuring spring bean for VolleyBall implementation class  -->
<bean id="mySports" class="com.example.demo.VolleyBall">

<!--setter injection to HappyService class inside the VollyBall class-->
<property name="theservice" ref="myService"></property>
</bean> 

<!-- Configuring spring bean for HappyService implementation class -->
<bean id="myService" class="com.example.demo.HappyService">
</bean>



</beans>
